{
  "extends": ["stylelint-config-standard", "stylelint-order-config-standard"],
  "plugins": ["stylelint-scss", "stylelint-order"],
  "rules": {
    "indentation": 2,
    "color-hex-case": "lower",
    "at-rule-no-unknown": null,
    "no-descending-specificity": null
  }
}
