@import "styles/colors";

.container {
  display: grid;
  align-content: center;
  justify-items: start;

  width: 250px;
  height: 100px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.counter {
  color: $color-white;
  font-size: 3rem;
}

.title {
  grid-column: 1 / 3;
  color: $color-secondary;

  font-size: 1rem;
}
