@use "styles/colors";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 100px;
}

.title {
  margin: 0;
  padding-bottom: 12px;

  text-align: center;

  color: colors.$color-primary;

  font-size: 3rem;
}

.servicesCardsWrapper {
  display: grid;

  width: 100%;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  grid-gap: 1.5rem;
}
