.QAContainer {
  width: 100%;
  max-width: 1380px;
  padding: 0 20px;
  margin: 100px auto;

  @media screen and (max-width: 1100px) {
    width: 95%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    padding-left: 10px;
  }

  & .QABlocksContainer {
    display: flex;
    flex-direction: column;
    gap: 40px
  }

  & > .QAController {
    padding: 30px;
    background-color: #F1F1F5;

    & .blockContainer {
      display: flex;
      gap: 20px;

      & .hideContent {
        display: none !important;
      }

      & > div:first-child {
      }

      & > div:last-child {
        padding-top: 10px;

        & > .blockContainerHeader {
          font-weight: 700;
          font-size: 24px;
          line-height: 130%;
          margin-bottom: 17px;
        }

        & > .blockContainerDescription {
          font-weight: 400;
          font-size: 17px;
          line-height: 130%;
        }
      }
    }
  }
}