:root {
  --decoration-big-text: 72px;
  --head-1: 42px;
  --head-2: 32px;
  --head-3: 24px;
  --head-4: 24px;
  --big-text: 20px;
  --text: 17px;
  --small-text: 15px;
  --footer-head: 21px;
}

/*:root {*/
/*    --decoration-big-text: 72px;*/
/*    --head-1: 42px;*/
/*    --head-2: 32px;*/
/*    --head-3: 24px;*/
/*    --head-4: 24px;*/
/*    --big-text: 20px;*/
/*    --text: 17px;*/
/*    --small-text: 15px;*/
/*    --footer-head: 21px;*/
/*}*/

/*@media screen and (max-width: 1000px) {*/
/*    :root {*/
/*        --decoration-big-text: 48px;*/
/*        !*_____________*!*/
/*        --head-1: 42px;*/
/*        --head-2: 32px;*/
/*        !*^^^^^^^^^^^^^*!*/
/*        --head-3: 24px;*/
/*        --head-4: 20px;*/
/*        --big-text: 17px;*/
/*        !*_____________*!*/
/*        --text: 17px;*/
/*        --small-text: 15px;*/
/*        --footer-head: 21px;*/
/*    }*/
/*}*/

@media screen and (max-width: 768px) {
}

/*    :root {*/
/*        --decoration-big-text: 48px;*/
/*        !*_____________*!*/
/*        --head-1: 42px;*/
/*        --head-2: 32px;*/
/*        !*^^^^^^^^^^^^^*!*/
/*        --head-3: 24px;*/
/*        --head-4: 20px;*/
/*        --big-text: 20px;*/
/*        !*_____________*!*/
/*        --text: 17px;*/
/*        --small-text: 15px;*/
/*        --footer-head: 21px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 480px) {*/
/*    :root {*/
/*        --decoration-big-text: 48px;*/
/*        !*_____________*!*/
/*        --head-1: 32px;*/
/*        --head-2: 24px;*/
/*        !*^^^^^^^^^^^^^*!*/
/*        --head-3: 20px;*/
/*        --head-4: 20px;*/
/*        --big-text: 17px;*/
/*        !*_____________*!*/
/*        --text: 15px;*/
/*        --small-text: 15px;*/
/*        --footer-head: 21px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 360px) {*/
/*    :root {*/
/*        --decoration-big-text: 48px;*/
/*        !*_____________*!*/
/*        --head-1: 24px;*/
/*        --head-2: 17px;*/
/*        !*^^^^^^^^^^^^^*!*/
/*        --head-3: 20px;*/
/*        --head-4: 20px;*/
/*        --big-text: 15px;*/
/*        !*_____________*!*/
/*        --text: 15px;*/
/*        --small-text: 15px;*/
/*        --footer-head: 21px;*/
/*    }*/
/*}*/